//Start block cart
.cart
    a(href="shoping-cart.html").cart__link
        img(src="img/cart.svg", alt="cart").cart__img
        .cart__drop
            .cart__item
                img(src="img/photo-cart-1.jpg", alt="photo-cart").cart__product-img
                .cart__text
                    h3.cart__title REBOX ZANE
                    .cart__stars
                        i(class="fas fa-star")
                        i(class="fas fa-star")
                        i(class="fas fa-star")
                        i(class="fas fa-star")
                        i(class="fas fa-star-half-alt")
                    p.cart__price
                        |1
                        |
                        span.cart__span x
                        |
                        |$250
                .cart__close
                    i(class="fas fa-times-circle").pointer
            .cart__item
                img(src="img/photo-cart-2.jpg", alt="photo-cart").cart__product-img
                .cart__text
                    h3.cart__title REBOX ZANE
                    .cart__stars
                        i(class="fas fa-star")
                        i(class="fas fa-star")
                        i(class="fas fa-star")
                        i(class="fas fa-star")
                        i(class="fas fa-star-half-alt")
                    p.cart__price
                        |1
                        |
                        span.cart__span x
                        |
                        | $250
                .cart__close
                    i(class="fas fa-times-circle").pointer
            .cart__total-amount
                p.cart__total TOTAL
                p.cart__amount $500.00
            .cart__button Checkout
            .cart__button Go to cart
//End block cart
