//Start block sidebar
nav.sidebar
    details(open).sidebar__details
        summary.sidebar__summary Category
        ul.sidebar__ul
            li.sidebar__li
                a(href="single.html").sidebar__link Accessories
            li.sidebar__li
                a(href="single.html").sidebar__link Bags
            li.sidebar__li
                a(href="single.html").sidebar__link Denim
            li.sidebar__li
                a(href="single.html").sidebar__link Hoodies & Sweatshirts
            li.sidebar__li
                a(href="single.html").sidebar__link Jackets & Coats
            li.sidebar__li
                a(href="single.html").sidebar__link Pants
            li.sidebar__li
                a(href="single.html").sidebar__link Polos
            li.sidebar__li
                a(href="single.html").sidebar__link Shirts
            li.sidebar__li
                a(href="single.html").sidebar__link Shoes
            li.sidebar__li
                a(href="single.html").sidebar__link Shorts
            li.sidebar__li
                a(href="single.html").sidebar__link Sweaters & Knits
            li.sidebar__li
                a(href="single.html").sidebar__link T-Shirts
            li.sidebar__li
                a(href="single.html").sidebar__link Tanks
    details.sidebar__details
        summary.sidebar__summary Brand
    details.sidebar__details
        summary.sidebar__summary Designer
//End block sidebar