mixin product(name, price, link, imgsrc)
    .product.product-box__product
        a(href=""+link).product__link
            .product__img-box
                img(src=""+imgsrc alt="product").product__img
            .product__text
                span.product__name= name
                span.product__price= price
            span.product__add Add to Cart
