.drop.drop_accoseriese
    .drop__flex
        h3.drop__head Accoseriese
        ul.drop__menu
            li
                a(href="single.html").drop__link Dresses
            li
                a(href="single.html").drop__link Tops
            li
                a(href="single.html").drop__link Sweaters/Knits
            li
                a(href="single.html").drop__link Jackets/Coats
    .drop__flex
        h3.drop__head Accoseriese
        ul.drop__menu
            li
                a(href="single.html").drop__link Denim
            li
                a(href="single.html").drop__link Leggings/Pants
            li
                a(href="single.html").drop__link Skirts/Shorts
        h3.drop__head Accoseriese
        ul.drop__menu
            li
                a(href="single.html").drop__link Dresses
            li
                a(href="single.html").drop__link Tops
    