.drop.drop_browse
    .drop_flex
        h3.drop_head Women
        ul.drop__menu
            li
                a(href="single.html").drop__link Dresses
            li
                a(href="single.html").drop__link Tops
            li
                a(href="single.html").drop__link Sweaters/Knits
            li
                a(href="single.html").drop__link Jackets/Coats
            li
                a(href="single.html").drop__link Blazers
            li
                a(href="single.html").drop__link Denim
            li
                a(href="single.html").drop__link Leggings/Pants
            li
                a(href="single.html").drop__link Skirts/Shorts
            li
                a(href="single.html").drop__link Accessories
        h3.drop_head Women
        ul.drop__menu
            li
                a(href="single.html").drop__link Tees/Tank tops
            li
                a(href="single.html").drop__link Shirts/Polos
            li
                a(href="single.html").drop__link Sweaters
            li
                a(href="single.html").drop__link Sweatshirts/Hoodies
            li
                a(href="single.html").drop__link Blazers
            li
                a(href="single.html").drop__link Jackets/vests