//Block nav
nav.menu
    ul.menu__ul
        li.menu__list
            a.menu__link(href="index.html") Home
        li.menu__list
            a.menu__link(href="catalog.html") Man
            include drop-man
        li.menu__list
            a.menu__link(href="catalog.html") Women
            include drop-women
        li.menu__list
            a.menu__link(href="catalog.html") Kids
            include drop-kids
        li.menu__list
            a.menu__link(href="catalog.html") Accoseriese
            include drop-accoseriese
        li.menu__list
            a.menu__link(href="catalog.html") Featured
            include drop-featured
        li.menu__list
            a.menu__link(href="catalog.html") Deals
            include drop-deals
//End block nav